<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)" *ngIf="!IsUserAuthenticated()">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password</div>
        <mat-form-field class="full-width">
          <mat-label>Email address</mat-label>
          <input matInput type="email" id="login" name="login" ngModel placeholder="User name" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" id="password" name="password" ngModel placeholder="Password" required>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Sign in</button>
      </mat-card-actions>
    </mat-card>
  </form>
  