.form-signin {
    max-width: 330px;
    margin: auto;
    padding: 15px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .alert {
    color: #d32f2f;
    margin-bottom: 15px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    width: 100%;
  }
  