<div>
  <form [formGroup]="productForm" class="productForm" (ngSubmit)="saveProduct()">
    <mat-card class="container">
      <mat-card-header>
        <mat-card-title><h2>Dodaj Produkt</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Nazwa</mat-label>
            <input matInput id="name" formControlName="name" type="text"/>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Cena</mat-label>
            <input matInput id="price" formControlName="price" type="number"/>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Obraz</mat-label>
            <input matInput id="image" formControlName="image" type="text"/>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Zapisz</button>
      </mat-card-actions>
    </mat-card>
  </form>  
</div>