<p>ordersall works!</p>
<div >
    <div  *ngFor="let s of data" class="selectable" >
        {{s|json}}
    </div>
</div>
<div class="container">
    <table border="1">
        <thead>
            <th>ID </th>
            <th>userID </th>
            <th>Date </th>
        </thead>
        <tbody>
            <tr *ngFor="let order of data" (click)="route(order.id)" >
                <td>{{order.id}} </td>
                <td>{{order.userID}} </td>
                <td>{{order.date}} </td>
            </tr>
        </tbody>
    </table>
</div>