<div class="caleM">
  <form (ngSubmit)="getSort()" class="menu">
    <mat-form-field class="menu" appearance="fill">
      <mat-label>Nr strony</mat-label>
      <input matInput id="from" name="from" type="number" min="0" [(ngModel)]="from">
    </mat-form-field>

    <mat-form-field class="menu" appearance="fill">
      <mat-label>Liczba elementów</mat-label>
      <input matInput id="to" name="to" type="number" min="0" [(ngModel)]="size">
    </mat-form-field>
    <span class="daneMenu">  
      <mat-checkbox class="menu" id="asc" name="asc" [(ngModel)]="acs">Malejąco</mat-checkbox>
      <mat-checkbox class="menu" id="isActive" name="isActive" [(ngModel)]="isActive" checked>Aktywuj</mat-checkbox>
    </span> 
    <mat-form-field class="menu" appearance="fill">
      <mat-label>Nazwa</mat-label>
      <input matInput id="name" name="name" type="text" [(ngModel)]="name">
    </mat-form-field>

    <button class="menu" mat-raised-button color="secundary" type="submit">Sortuj</button>
  </form>
    <button class="menu" mat-raised-button color="primary" (click)="add()" *ngIf="isAdmin()" >Dodaj produkt</button>
</div>

<div class="container">
  <mat-card class="kafelek" *ngFor="let product of data">
    <mat-card-content (click)="route(product.id)">
      <span class="daneP">
        <p>{{product.name}}</p>
        <p>{{product.price}} ZŁ</p>
      </span>
    </mat-card-content>
    <mat-card-actions>
      <button class="buttonCard" (click)="addToBasket(product.id)" mat-stroked-button color="warn">Dodaj</button>
    </mat-card-actions>
  </mat-card>
</div>
