.container {
    margin-top: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #4794e2; /* Kolor tła kafelka */
  }
  
  .card-img-top {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Kolor tytułu */
  }
  
  .card-text {
    font-size: 16px;
    color: #555; /* Kolor tekstu */
  }
  