<div>
  <button mat-raised-button color="primary" (click)="makeOrder()">Zamów</button>
</div>
<div class="container">
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let pos">{{ pos.id }}</td>
    </ng-container>
    <ng-container matColumnDef="productID">
      <th mat-header-cell *matHeaderCellDef>ProductID</th>
      <td mat-cell *matCellDef="let pos">{{ pos.productID }}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let pos">
        <input matInput type="number" [(ngModel)]="pos.amount" (change)="updatePosition(pos)">
      </td>
    </ng-container>
    
    <ng-container matColumnDef="userID">
      <th mat-header-cell *matHeaderCellDef>UserID</th>
      <td mat-cell *matCellDef="let pos">{{ pos.userID }}</td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Usuń</th>
      <td mat-cell *matCellDef="let pos">
        <button mat-raised-button color="warn" (click)="deletePosition(pos.id)">Usuń</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
